<template name="interfaceStone">
  <div class="interface interface-stone">
    {{#HammerTouchArea gestureMap=templateGestures}}
      <img src="/media/stone/interface/map.jpg" class="trigger" usemap="#map-stone">
      <map id="map-stone" name="map-stone" class="trigger">
        <area shape="rect" coords="0,0,255,255"     id="1" href="" class="trigger">
        <area shape="rect" coords="255,0,511,255"   id="2" href="" class="trigger">
        <area shape="rect" coords="0,255,255,511"   id="3" href="" class="trigger">
        <area shape="rect" coords="255,255,511,511" id="4" href="" class="trigger">
        <area shape="rect" coords="0,511,255,768"   id="5" href="" class="trigger">
        <area shape="rect" coords="255,511,511,768" id="6" href="" class="trigger">
      </map>
      <a class="info-modal-open" href="#">T</a>
      <a class="menu-group-open" href="/group-1"><svg xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF" height="50" viewBox="0 0 24 24" width="50">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
      </svg></a>
    {{/HammerTouchArea}}
  </div>
</template>