<template name="modal-stone">
  <div class="anti-modal-box">
    <div class="anti-modal-header">
      <div class="anti-modal-title">Barry Stone</div>
      <div class="anti-modal-closer">&times;</div>
    </div>
    <div class="anti-modal-body">
      <p>As a family we have returned to the same house on Bailey Island, Maine, for the last 5 summers. When the tide goes out, it reveals an alien field of seaweed which, when walked upon, feels like treading on the bottom of the ocean. At high tide it all disappears. There is a Commons nearby where one is invited to fashion fairy houses from natural material harvested from the forest floor. My oldest was 6 or 7 when we first visited and she was utterly enchanted by this prospect. Though she was old enough to sense it was fantasy, she wanted to believe that this architecture could be occupied – a Utopian impulse that I readily identify with.</p>
      <p>I make a lot of pictures of liminal spaces like clouds, the coast, or sites of fantasy, but also in banal places that appear fantastic. Photography for me lives in the precarious balance between what the [picture] portrays and the fantasy of its contrivance.</p>
      <p>Databending photographic information complicates the portrayal of our observed circumstances. It’s not meant to "reveal" the constructed nature of photographic images, but to hint at the possibility of error, a generative misreading, which allows the material itself to render as its own "liquid intelligence." Perception creates the world we make for ourselves and as we can only visualize the world in fragments, pictures offer a way to build a flexible structure or architecture for experience. The two realms completely inform and distort one another. Since my imagery is digital, both "straight" and "manipulated," my memory is often an expression of the stories both told and withheld by pictures.</p>
    </div>
  </div>
</template>