<template name="modal-barnett">
  <div class="anti-modal-box">
    <div class="anti-modal-header">
      <div class="anti-modal-title">Gideon Barnett</div>
      <div class="anti-modal-closer">&times;</div>
    </div>
    <div class="anti-modal-body">
      <p>Pumpy Tudors was the star football player in the late 80s at Marion County High School in Jasper, Tennessee, the town where I was born and raised. The population there is about 3,000, and if you have any experience in a small town, you will know that high school football is taken very seriously. I remember hearing people talk about Pumpy and his on-field prowess when I was 6 or 7 years old, in the late 80s, when he was playing in high school. He went on to play in college at the University of Tennessee, Chattanooga, and then was drafted by the Philadelphia Eagles. Though he never actually played in the NFL – he was cut from training camp before the season started – somehow a trading card was produced for him.</p>
      <p>I had basically forgotten about Pumpy until years later when his named popped up in the local media. After his football career ended, he signed up with the Tennessee Highway Patrol and was involved in a few scandals around 2007. The first in a string of incidents can be viewed in a dash-cam video where he pulls over a 19 year-old for speeding. In a video available on YouTube, he first draws his gun on the kid and then screams at him about his recently deceased comrade.</p>
      <p>When I saw the above news item in 2007, it triggered a childhood memory of Pumpy Tudors, the high school football star. I followed up on him by doing some deep internet research and uncovered all sorts of things, but the discovery of the trading card — produced for such an obscure guy who never actually played in the NFL — really knocked me over. It's such a strange thing to have available on the internet. I purchased many copies of it so I have the physical items, but the fact that card exists online is already strange enough.</p>
    </div>
  </div>
</template>