.display.display-maggio {
  .maggio-bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .top-nav {
    position: absolute;
    top: -40px;
  }
  .sidebar {
    position: absolute;
    top: -730px;
    right: 0;
  }
}