.display.display-maggio {
  .maggio-bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
  .top-nav {
    position: absolute;
    top: -40px;
  }
  .sidebar {
    position: absolute;
    top: -730px;
    right: 0;
  }
}