<template name="modal-soleimani">
  <div class="anti-modal-box">
    <div class="anti-modal-header">
      <div class="anti-modal-title">Sheida Soleimani</div>
      <div class="anti-modal-closer">&times;</div>
    </div>
    <div class="anti-modal-body">
      <p>The house my mother grew up in, in Shiraz, Iran, has been an influential psychological space for me, especially in my formative years. Although never having visit the house, or Iran for that matter, I was often told stories about the space and created a fetishized image of it.  This space has been re-created in many of my works, as I often strived to create it through physical constructions. About a year ago, a family member in Iran sent a picture of the the ruins of the house. It looked nothing like how I imagined it and exactly like how I thought it would appear at the same time.</p>
      <p>One of the very first times I was on the internet, a pop-up image of a shaking finger appeared. I was a pretty curious kid, and had discovered a website online that had some soft-core pornographic images of women. A few minutes into browsing these images online, a window popped up on the screen. It was an image of a scolding grandmother, and it really freaked me out and made me feel like I was being watched. She had white hair, and was Caucasian, so she definitely didn’t look like anyone that could be related to me. But she still freaked me out and made me think that she was my grandmother. The words 'I KNOW WHAT YOU HAVE BEEN WATCHING' came up with the image, and I didn't get back onto the internet for a few months following that incident.</p>
    </div>
  </div>
</template>