.display.display-knogl {
  video {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(25%);
  }
  #knogl-video-display-overlay {
    position: absolute;
    z-index: 999;
    top: -12px;
  }
  .opacity-zero {
    opacity: 0;
  }
}