.display-soleimani {
  .bg {
    height: auto;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .gif {
    height: 100vh;
    width: auto;
    position: static;
    display: block;
    margin: 0 auto;
  }
}