<template name="displayAlper">
  <div class="display display-alper">
    <img src="/media/alper/interface/real-place.png" />
    <video id="alper-video-display-1" class="video-js vjs-default-skin hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/alper/display/1.mp4" type='video/mp4' />
    </video>
    <video id="alper-video-display-2" class="video-js vjs-default-skin hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/alper/display/2.mp4" type='video/mp4' />
    </video>
    <video id="alper-video-display-3" class="video-js vjs-default-skin hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/alper/display/3.mp4" type='video/mp4' />
    </video>
    <video id="alper-video-display-4" class="video-js vjs-default-skin hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/alper/display/4.mp4" type='video/mp4' />
    </video>
    <video id="alper-video-display-5" class="video-js vjs-default-skin hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/alper/display/5.mp4" type='video/mp4' />
    </video>
    <video id="alper-video-display-6" class="video-js vjs-default-skin hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/alper/display/6.mp4" type='video/mp4' />
    </video>
    <video id="alper-video-display-7" class="video-js vjs-default-skin hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/alper/display/7.mp4" type='video/mp4' />
    </video>
    <video id="alper-video-display-8" class="video-js vjs-default-skin hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/alper/display/8.mp4" type='video/mp4' />
    </video>
    <video id="alper-video-display-9" class="video-js vjs-default-skin hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/alper/display/9.mp4" type='video/mp4' />
    </video>
    <video id="alper-video-display-10" class="video-js vjs-default-skin hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/alper/display/10.mp4" type='video/mp4' />
    </video>
    <video id="alper-video-display-11" class="video-js vjs-default-skin hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/alper/display/11.mp4" type='video/mp4' />
    </video>
    <video id="alper-video-display-12" class="video-js vjs-default-skin hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/alper/display/12.mp4" type='video/mp4' />
    </video>
    <video id="alper-video-display-13" class="video-js vjs-default-skin hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/alper/display/13.mp4" type='video/mp4' />
    </video>
    <video id="alper-video-display-14" class="video-js vjs-default-skin hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/alper/display/14.mp4" type='video/mp4' />
    </video>
    <video id="alper-video-display-15" class="video-js vjs-default-skin hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/alper/display/15.mp4" type='video/mp4' />
    </video>
    <video id="alper-video-display-16" class="video-js vjs-default-skin hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/alper/display/16.mp4" type='video/mp4' />
    </video>
    <video id="alper-video-display-17" class="video-js vjs-default-skin hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/alper/display/17.mp4" type='video/mp4' />
    </video>
    <div class="hidden">{{actionPerformed}}</div>
  </div>
</template>