<template name="modal-alper">
  <div class="anti-modal-box">
    <div class="anti-modal-header">
      <div class="anti-modal-title">Ben Alper</div>
      <div class="anti-modal-closer">&times;</div>
    </div>
    <div class="anti-modal-body">
      <p>The place that’s had the most important impact on my creative imagination is my current home, a residential neighborhood in Carrboro, North Carolina. On the surface, the neighborhood is quiet and common, comprised of a mix of historic mill houses and newer suburban construction. There are a handful of businesses, but largely the neighborhood is made up of densely settled streets surrounded by various forms of nature.  The flora and fauna that exists within this densely populated space is surprisingly abundant and diverse. [Photographing in this neighborhood], I was interested in making an exhaustive portrait of a confined space, one that implicated time, seriality, rhythm, habit, tedium and the everyday in ways that I hadn’t previously.</p>
      <p>[On the other hand] the majority of “things” that I have collected from the Internet have typically implicated me in some direct way.  [Unlike the confined space of a neighborhood, with geographic limits,] I think this has been my own way of trying to contend with the vastness and randomness the World Wide Web. The things I’ve amassed digitally have been an attempt to find a footing in digital space: to help shift the experience (even if slightly) toward the micro and away from the macro.</p>
    </div>
  </div>
</template>