<template name="modal-maggio">
  <div class="anti-modal-box">
    <div class="anti-modal-header">
      <div class="anti-modal-title">Chris Maggio</div>
      <div class="anti-modal-closer">&times;</div>
    </div>
    <div class="anti-modal-body">
      <p>In the past century, the idea of recreation has shifted from a privilege to a right in the Western world; we see it as an essential part of life alongside food, water, and oxygen. Physical spaces in which people pay for entertainment, where people choose to have "fun", affect me the most as an artist: movie theaters, theme parks, tourist traps, etc. Being that "fun" is such a subjective concept, I'm fascinated to see what people will buy into, on both large and small scales. Americans' attitude about a current trend is often more indicative of the zeitgeist than where our country is gravitating politically.</p>
      <p>What I mostly take away from the Internet is a consistent "current" within its ocean: an overwhelming maelstrom of half-truths and pseudo-information. In my opinion, no source better represents this stream than the Facebook News Feed. Masquerading as a source of truth, the News Feed contains many (malevolent) traits of the Internet under one banner. It's part tabloid-style human-interest story, part advertisement, part inane editorialized gossip, and part political hearsay, all with a sprinkle of ridicule and finger-pointing that's reminiscent of McCarthyism. Peppered with a plethora of words that conflate truth and rumor, this feed is a rather comprehensive cross-section of the online world that we encounter on our screens every day. The fact that so many voices and minds are ‘collaborating' and that nothing ever truly disappears from the internet (someone will always "Save As..." somewhere) stokes a flame of immortality in our interactions with it.</p>
    </div>
  </div>
</template>