<template name="displayStephens">
  <div class="display display-stephens">
    <video class="stephens-video video-js vjs-default-skin" autoplay loop preload="auto" width="1024" height="528">
      <source src="/media/stephens/interface/applelarge.mp4" type='video/mp4' />
    </video>
    <video class="stephens-video video-js vjs-default-skin hidden" autoplay loop preload="auto" width="1024" height="528">
      <source src="/media/stephens/display/ancient-stump.mp4" type='video/mp4' />
    </video>
    <div class="hidden">{{actionPerformed}}</div>
  </div>
</template>