<template name="modal-stephens">
  <div class="anti-modal-box">
    <div class="anti-modal-header">
      <div class="anti-modal-title">Courtney Stephens</div>
      <div class="anti-modal-closer">×</div>
    </div>
    <div class="anti-modal-body">
      <p>I recorded this apple orchard near High Falls, New York, in 2007. I had come up with the story for a short film, a kind of retelling of Genesis, about time and physical consequences. When we went to shoot, the snow had melted and all the apples had fallen and decomposed, which essentially killed the story. We replaced them with tomatoes: squeezed, bruised, and skewered onto the ends of branches. The next weekend, my father passed away unexpectedly, and I abandoned the whole project, storing the miniDV tapes away. </p>
      <p>"Real" time is beat out by the pulsing dot of the command line, inviting action. A single symbol from the Roman alphabet stands for movement. The digital screen is from an offline role-play game, a "choose-your-own-adventure" which could be downloaded from early modem-based Bulletin Board Systems before the advent of a centralized internet. The ancient stump seems synonymous with the rotting apples, a marker of time. Yet its presence suggests that the rules of time and physical decomposition don’t apply: the stump should have decomposed long ago. Perhaps the apples, too, are ancient; as apples go, "ancient" can work as hyperbole: a few months past prime. By calling the stump ancient, the storyteller has not suggested the stump’s age. It is, simply, "ancient." What are the limits of this "forest?" Of the designer’s visual imagination? Of my ability to read this faint ancient language? Of my computer’s battery?</p>
    </div>
  </div>
</template>