<template name="interfaceRosch">
  <div class="interface interface-rosch">
    {{#HammerTouchArea gestureMap=templateGestures}}
      <div class="vertical-center-wrapper">
        <img src="/images/rosch/map.jpg" class="trigger" usemap="#map-rosch">
      </div>
      <a class="info-modal-open" href="#">T</a>
      <map id="map-rosch" name="map-rosch" class="trigger">
        <area shape="rect" coords="0,0,640,640"        href="#" class="trigger" id="1">
        <area shape="rect" coords="640,0,1280,640"     href="#" class="trigger" id="2">
        <area shape="rect" coords="1280,0,1920,640"    href="#" class="trigger" id="3">
        <area shape="rect" coords="0,640,640,1280"     href="#" class="trigger" id="4">
        <area shape="rect" coords="640,640,1280,1280"  href="#" class="trigger" id="5">
        <area shape="rect" coords="1280,640,1920,1280" href="#" class="trigger" id="6">
      </map>
    {{/HammerTouchArea}}
  </div>
</template>

