<template name="displayBergmanSalinas">
  <div class="display display-bergman-salinas">
    <video id="display-bergman-salinas-video" class="video-js vjs-default-skin" autoplay loop preload="auto" width="1024" height="528">
     <source src="/media/bergman-salinas/display/revolution.mp4" type='video/mp4' />
    </video>
    <video id="display-bergman-salinas-video-selected" class="video-js vjs-default-skin hidden" loop preload="auto" width="1024" height="528">
     <source src="/media/bergman-salinas/display/creativity.mp4" type='video/mp4' />
    </video>
    <div class="hidden">{{actionPerformed}}</div>
  </div>
</template>