/* interface */
.interface {
  .info-modal-open {
    position: absolute;
    z-index: 9999;
    bottom: -5px;
    left: 20px;
    font-family: 'Fira Mono', monospace;
    font-size: 50px;
    font-weight: bold;
  }
  .menu-group-open {
    position: absolute;
    right: 20px;
    bottom: 15px;
  }
}
