.display.display-hesse {
  video {
    position: absolute;
    top: 50%;
    width: 70%;
    height: auto;
    margin: 0 auto;
    transform: translateY(-50%);
  }
  .background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}