.display.display-skyers {
  .active {
    position: absolute;
    top: -100%;
  }
  video {
    position: relative;
    top: 50%;
    transform: translateY(17%);
  }

  .video-js {
    width: 100%;
    height: auto;
  }
  img {
    width: 100%;
    height: auto;
  }
}