<template name="displaySkyers">
  <div class="display display-skyers">
    <video id="knogl-video-interface" class="video-js vjs-default-skin trigger" autoplay loop preload="auto" width="1024" height="576">
      <source src="/media/skyers/interface/mega-mall-1-physical-space.mp4" type='video/mp4' />
    </video>
    <div class="hidden">{{actionPerformed}}</div>
    <img id="1"  class="hidden" src="/media/skyers/display/1.png"  />
    <img id="5"  class="hidden" src="/media/skyers/display/5.jpg"  />
    <img id="8"  class="hidden" src="/media/skyers/display/8.png"  />
    <img id="2"  class="hidden" src="/media/skyers/display/2.jpg"  />
    <img id="12" class="hidden" src="/media/skyers/display/12.png" />
    <img id="4"  class="hidden" src="/media/skyers/display/4.jpg"  />
    <img id="14" class="hidden" src="/media/skyers/display/14.png" />
    <img id="10" class="hidden" src="/media/skyers/display/10.jpg" />
    <img id="16" class="hidden" src="/media/skyers/display/16.png" />
    <img id="3"  class="hidden" src="/media/skyers/display/3.jpg"  />
    <img id="6"  class="hidden" src="/media/skyers/display/6.png"  />
    <img id="7"  class="hidden" src="/media/skyers/display/7.png"  />
    <img id="15" class="hidden" src="/media/skyers/display/15.png" />
    <img id="9"  class="hidden" src="/media/skyers/display/9.png"  />
    <img id="13" class="hidden" src="/media/skyers/display/13.png" />
    <img id="11" class="hidden" src="/media/skyers/display/11.gif" />
  </div>
</template>