<template name="modal-skyers">
  <div class="anti-modal-box">
    <div class="anti-modal-header">
      <div class="anti-modal-title">Eileen Skyers</div>
      <div class="anti-modal-closer">&times;</div>
    </div>
    <div class="anti-modal-body">
      <p>I was born in Manila, Philippines, and immigrated to the United States with my mom when I was little. That colorful neighborhood in Taguig City has remained somewhat of an enigma to me ever since, in part because there are a number of discrete things I recall about the setting which others deny I could possibly have remembered. I could recall a particular sense of freedom and vibrance beneath the tropical sun, my bare feet touching the ground, my small shadow tricking the light. There was a flavor [in the air] I could not place. Returning to Taguig City in the fall of 2015, I felt like I was cornering all of those convictions.</p>

      <p>During this recent trip, I shot original footage and began to collect peripheral digital materials related to the experience: a logo from SM Mega Mall; an image of the Sunpocket portable broadband connector; images from the popular Filipino restaurant Jollibee; photographs from Air Asia flight QZ8501 that went missing in early 2015; a photograph of my cousin, et. al </p>

      <p>On one hand, I am fairly certain that the physical spaces and experiences I continue to reimagine can be described in more detail, or with greater depth, than online experiences. But the two begin to seem like contradictory, albeit equally convincing, illusions when you really think about it. The Internet’s lack of physicality is, itself, a very convincing illusion. </p>

      <p>I am incredibly anxious about notions of space and cloud storage. I attempt, tirelessly, to maintain what I call “digital hygiene,” essentially clearing my SSD, inbox, and external hard drive of unnecessary files whenever possible. I would hope to leave no absolutely digital trace in the Internet ether when I die–needless to say, this is impossible. </p>

      <p>The practice of archiving parts of a place that I hold dear, through a mere collection of digital ephemera, has proven somewhat difficult–especially with respect to this source of anxiety. I find myself tenuously grasping for an image file, or song, that might bring forth a tangible semblance of some kind. I generally want to become less concerned with how the fluidity of the world shocks me into comparison, with how I fit into these margins of thick, ambiguous space, with finding the social handle I should occupy. </p>
    </div>
  </div>
  </template>