<template name="modal-skyers">
  <div class="anti-modal-box">
    <div class="anti-modal-header">
      <div class="anti-modal-title">Eileen Skyers</div>
      <div class="anti-modal-closer">&times;</div>
    </div>
    <div class="anti-modal-body">
      <p>I was born in Manila, Philippines, and immigrated to the United States with my mom when I was little. That colorful neighborhood in Taguig City has remained somewhat of an enigma to me ever since, in part because there are a number of discrete things I remember about it which others deny I could possibly have remembered. Returning to Taguig City in the fall of 2015, I felt like I was cornering all of those convictions.</p>
      <p>During this recent trip, I shot original footage and began collecting digital materials related to the experience: a logo from SM Mega Mall; an image of the Sunpocket portable broadband connector; images from the popular Filipino restaurant Jollibee; photographs from Air Asia flight QZ8501 that went missing in early 2015; a photograph of my cousin.</p>
      <p>I am incredibly anxious about notions of space and cloud storage. I attempt, tirelessly, to maintain what I call “digital hygiene:” clearing my SSD, inbox, and external hard drive of unnecessary files whenever possible. I would hope to leave absolutely no digital trace in the Internet ether when I die; needless to say, this is impossible. </p>
      <p>The practice of archiving parts of a place that I hold dear, through a mere collection of digital ephemera, has proven somewhat difficult – especially with respect to this source of anxiety. I find myself tenuously grasping for an image file, or song, that might bring forth a tangible semblance of some kind. I generally want to become less concerned with how the fluidity of the world shocks me into comparison, with how I fit into these margins of thick, ambiguous space, with finding the social handle I should occupy.</p>
    </div>
  </div>
</template>