<template name="displayCox">
  <div class="display display-cox">
    <img class="bg" src="/media/cox/display/cart-vertical.jpg" />
    <img class="hidden" style="top: 0;      left:305px;"  src="/media/cox/display/01JDC.png" />
    <img class="hidden" style="top: 1023px; left:110px;"  src="/media/cox/display/02JDC.png" />
    <img class="hidden" style="top: 10px;   left:0;"      src="/media/cox/display/03JDC.png" />
    <img class="hidden" style="top: 800px;  left:0px;"    src="/media/cox/display/04JDC.png" />
    <img class="hidden" style="top: 755px;  left:80px;"   src="/media/cox/display/05JDC.png" />
    <img class="hidden" style="top: 710px;  left:125px;"  src="/media/cox/display/06JDC.png" />
    <img class="hidden" style="top: 653px;  left:0px;"    src="/media/cox/display/07JDC.png" />
    <img class="hidden" style="top: 622px;  left:500px;"  src="/media/cox/display/08JDC.png" />
    <img class="hidden" style="top: 576px;  left:300px;"  src="/media/cox/display/09JDC.png" />
    <img class="hidden" style="top: 519px;  left:200px;"  src="/media/cox/display/10JDC.png" />
    <img class="hidden" style="top: 460px;  left:300px;"  src="/media/cox/display/11JDC.png" />
    <img class="hidden" style="top: 418px;  left:200px;"  src="/media/cox/display/12JDC.png" />
    <img class="hidden" style="top: 373px;  left:100px;"  src="/media/cox/display/13JDC.png" />
    <img class="hidden" style="top: 314px;  left:40px;"   src="/media/cox/display/14JDC.png" />
    <img class="hidden" style="top: 248px;  left:40px;"   src="/media/cox/display/15JDC.png" />
    <img class="hidden" style="top: 605px;  left:60px;"   src="/media/cox/display/16JDC.png" />
    <img class="hidden" style="top: 418px;  left:114px;"  src="/media/cox/display/17JDC.png" />
    <img class="hidden" style="top: 407px;  left:370px;"  src="/media/cox/display/18JDC.png" />
    <img class="hidden" style="top: 855px;  left:20px;"   src="/media/cox/display/19JDC.png" />
    <img class="hidden" style="top: 895px;  left:300px;"  src="/media/cox/display/20JDC.png" />
    <img class="hidden" style="top: 895px;  left:0px;"    src="/media/cox/display/21JDC.png" />
    <img class="hidden" style="top: 400px;  left:30px;"   src="/media/cox/display/22JDC.png" />
    <img class="hidden" style="top: 620px;  left:395px;"  src="/media/cox/display/23JDC.png" />
    <img class="hidden" style="top: 185px;  left:0px;"    src="/media/cox/display/24JDC.png" />
    <img class="hidden" style="top: 125px;  left:18px;"   src="/media/cox/display/25JDC.png" />
    <img class="hidden" style="top: 559px;  left:35px;"   src="/media/cox/display/26JDC.png" />
    <img class="hidden" style="top: 963px;  left:25px;"   src="/media/cox/display/27JDC.png" />
    <img class="hidden" style="top: 800px;  left:146px;"  src="/media/cox/display/28JDC.png" />
    <img class="hidden" style="top: 787px;  left:349px;"  src="/media/cox/display/29JDC.png" />
    <img class="hidden" style="top: 852px;  left:125px;"  src="/media/cox/display/30JDC.png" />
    <img class="hidden" style="top: 850px;  left:450px;"  src="/media/cox/display/31JDC.png" />
    <img class="hidden" style="top: 850px;  left:590px;"  src="/media/cox/display/32JDC.png" />
    <img class="hidden" style="top: 815px;  left:530px;"  src="/media/cox/display/33JDC.png" />
    <img class="hidden" style="top: 775px;  left:500px;"  src="/media/cox/display/34JDC.png" />
    <img class="hidden" style="top: 742px;  left:347px;"  src="/media/cox/display/35JDC.png" />
    <img class="hidden" style="top: 727px;  left:482px;"  src="/media/cox/display/36JDC.png" />
    <img class="hidden" style="top: 731px;  left:625px;"  src="/media/cox/display/37JDC.png" />
    <img class="hidden" style="top: 706px;  left:405px;"  src="/media/cox/display/38JDC.png" />
    <img class="hidden" style="top: 709px;  left:210px;"  src="/media/cox/display/39JDC.png" />
    <img class="hidden" style="top: 653px;  left:500px;"  src="/media/cox/display/40JDC.png" />
    <img class="hidden" style="top: 565px;  left:580px;"  src="/media/cox/display/41JDC.png" />
    <img class="hidden" style="top: 510px;  left:630px;"  src="/media/cox/display/42JDC.png" />
    <img class="hidden" style="top: 405px;  left:465px;"  src="/media/cox/display/43JDC.png" />
    <img class="hidden" style="top: 340px;  left:365px;"  src="/media/cox/display/44JDC.png" />
    <img class="hidden" style="top: 346px;  left:245px;"  src="/media/cox/display/45JDC.png" />
    <img class="hidden" style="top: 333px;  left:110px;"  src="/media/cox/display/46JDC.png" />
    <img class="hidden" style="top: 295px;  left:148px;"  src="/media/cox/display/47JDC.png" />
    <img class="hidden" style="top: 248px;  left:148px;"  src="/media/cox/display/48JDC.png" />
    <img class="hidden" style="top: 223px;  left:203px;"  src="/media/cox/display/49JDC.png" />
    <img class="hidden" style="top: 155px;  left:203px;"  src="/media/cox/display/50JDC.png" />
    <img class="hidden" style="top: 155px;  left:520px;"  src="/media/cox/display/51JDC.png" />
    <img class="hidden" style="top: 223px;  left:282px;"  src="/media/cox/display/52JDC.png" />
    <img class="hidden" style="top: 268px;  left:305px;"  src="/media/cox/display/53JDC.png" />
    <img class="hidden" style="top: 87px;   left:335px;"  src="/media/cox/display/54JDC.png" />
    <img class="hidden" style="top: 1023px; left:442px;"  src="/media/cox/display/55JDC.png" />
    <img class="hidden" style="top: 1020px; left:257px;"  src="/media/cox/display/56JDC.png" />
    <img class="hidden" style="top: 1180px; left:0px;"    src="/media/cox/display/57JDC.png" />
    <img class="hidden" style="top: 1110px; left:0;"      src="/media/cox/display/58JDC.png" />
    <img class="hidden" style="top: 971px;  left:465px;"  src="/media/cox/display/59JDC.png" />
    <img class="hidden" style="top: 905px;  left:108px;"  src="/media/cox/display/60JDC.png" />
    <img class="hidden" style="top: 1095px; left:371px;"  src="/media/cox/display/61JDC.png" />
    <img class="hidden" style="top: 1127px; left:181px;"  src="/media/cox/display/62JDC.png" />
    <img class="hidden" style="top: 1025px; left:0px;"    src="/media/cox/display/63JDC.png" />
    <img class="hidden" style="top: 1238px; left:478px;"  src="/media/cox/display/64JDC.png" />
    <img class="hidden" style="top: 0px;    left:419px;"  src="/media/cox/display/65JDC.png" />
    <img class="hidden" style="top: 470px;  left:0px;"    src="/media/cox/display/66JDC.png" />
    <img class="hidden" style="top: 83px;   left:0px;"    src="/media/cox/display/67JDC.png" />
    <img class="hidden" style="top: 210px;  left:518px;"  src="/media/cox/display/68JDC.png" />
    <img class="hidden" style="top: 663px;  left: 168px;" src="/media/cox/display/70JDC.png" />
    <img class="hidden" style="top: 1195px; left:543px;"  src="/media/cox/display/71JDC.png" />
    <img class="hidden" style="top: 912px;  left:542px;"  src="/media/cox/display/73JDC.png" />
    <img class="hidden" style="top: 405px;  left:613px;"  src="/media/cox/display/74JDC.png" />
    <img class="hidden" style="top: 455px;  left:635px;"  src="/media/cox/display/80JDC.png" />
    <img class="hidden" style="top: 1020px; left:195px;"  src="/media/cox/display/84JDC.png" />
    <img class="hidden" style="top: 513px;  left:100px;"  src="/media/cox/display/103JDC.png" />
    <img class="hidden" style="top: 605px;  left:115px;"  src="/media/cox/display/104JDC.png" />
    <img class="hidden" style="top: 605px;  left:193px;"  src="/media/cox/display/112JDC.png" />
    <div class="hidden">{{actionPerformed}}</div>
  </div>
</template>