<template name="modal-cox">
  <div class="anti-modal-box">
    <div class="anti-modal-header">
      <div class="anti-modal-title">Joy Drury Cox</div>
      <div class="anti-modal-closer">&times;</div>
    </div>
    <div class="anti-modal-body">
      <p>Gainesville is this strange, small town in the center of Northern Florida. I once described central-northern Florida as mostly pine trees and prisons. It is literally swampy. Living in non-beach Florida, I often felt the palpable energy and strength of nature all around. I photographed shopping carts carelessly discarded in parking lots, oil stains and parking lot donuts, the mundane architecture. In trying to locate myself in this place, all of the photographs led me to making drawings of job applications for chain businesses in the strip malls. It was a way to map this landscape and, in a sense, to make "American" portraits.</p>
      <p>For a while, I was collecting screen grabs from online surveys. They felt like "online" forms, similar to the paper forms I was drawing from job applications. I look at these as representative of someone anonymous (a corporation) asking for feedback, but in a very specific, quantifiable and limited manner. These speak to my work and my interests in the standardization of non-standard groups. But they don't speak to my heart, as old photographs and postcards do, or even as paper forms, ledger paper, and graph papers, do. For me personally, they are entirely distinct. </p>
      <p>Online, I feel my attention span fading... perhaps it's how I'm participating, but on the whole, it feels like a wash... a wash that covers me, and I float away.</p>
    </div>
  </div>
</template>