<template name="modal-papa">
  <div class="anti-modal-box">
    <div class="anti-modal-header">
      <div class="anti-modal-title">Elisa Giardina Papa</div>
      <div class="anti-modal-closer">&times;</div>
    </div>
    <div class="anti-modal-body">
      <p>Almost all Internet browsers store a log of the websites we visit for 90 days. In November 2011, I downloaded three months of my browser history and wrote a simple software that played it back. Link after link, I saw my emails, searches, and web pages open in chronological order. I watched a narrative unfold. You could track the arc of my thinking, work, play, and random strolling. I played my browser history again a year later.  Many links were broken, some emails were deleted, several YouTube videos were taken down for copyright infringement, and some of the websites were inactive. </p>
      <p>Memory differs from storage in that it is not static but is rather an active process. A memory must be held in order to keep it from moving or fading, and yet in this instance both memory and storage were fading away.</p>
      <p>10 houses, 3 or 4 last names.<br />
      A hamlet on the island of Sicily (Italy).<br />
      It is where I’m from.<br />
      My memory of it: the fabric of my aunt's sofa, sexy fruits, jelly tongues, ants, and prickly pears.</p>
    </div>
  </div>
</template>