<template name="displayCourt">
  <div class="display display-court">
    <video id="court-video-display" class="video-js vjs-default-skin" autoplay loop preload="auto" width="1024" height="528">
     <source src="/media/court/display/DCFigB.mp4" type='video/mp4' />
    </video>
    <video id="court-video-selected" class="video-js vjs-default-skin hidden" autoplay loop preload="auto" width="1024" height="528">
     <source src="/media/court/interface/DCFigA.mp4" type='video/mp4' />
    </video>
    <div class="hidden">{{actionPerformed}}</div>
  </div>
</template>