<template name="interfaceCourt">
  <div class="interface interface-court">
    {{#HammerTouchArea gestureMap=templateGestures}}
      <video id="court-video-interface" class="video-js vjs-default-skin trigger" poster="/media/court/interface/DCFigA.jpg" width="1024" height="528">
        <source src="/media/court/interface/DCFigA.mp4" type='video/mp4' />
      </video>
      <a class="info-modal-open" href="#">T</a>
      <a class="menu-group-open" href="/group-2"><svg xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF" height="50" viewBox="0 0 24 24" width="50">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
  </svg></a>
    {{/HammerTouchArea}}
  </div>
</template>

