<template name="interfaceMattes">
  <div class="interface interface-mattes vertical-center-wrapper">
    {{#HammerTouchArea gestureMap=templateGestures}}
      <div class="slide-show">
        <img class="slide trigger" src="/media/mattes/interface/fingers/fingershome.jpg" />
        <img class="slide trigger" src="/media/mattes/interface/fingers/fingershome2.png" />
        <img class="slide trigger" src="/media/mattes/interface/fingers/fingershome3.jpg" />
        <img class="slide trigger" src="/media/mattes/interface/fingers/fingershome4.jpg" />
        <img class="slide trigger" src="/media/mattes/interface/fingers/fingershome5.jpg" />
        <img class="slide trigger" src="/media/mattes/interface/fingers/fingershome6.jpg" />
        <img class="slide trigger" src="/media/mattes/interface/fingers/fingershome7.jpg" />
        <img class="slide trigger" src="/media/mattes/interface/fingers/fingershome8.jpg" />
        <img class="slide trigger" src="/media/mattes/interface/fingers/fingershome9.jpg" />
      </div>
      <a class="info-modal-open" href="#">T</a>
    {{/HammerTouchArea}}
  </div>
</template>

