<template name="modal-mattes">
  <div class="anti-modal-box">
    <div class="anti-modal-header">
      <div class="anti-modal-title">Kayla Mattes</div>
      <div class="anti-modal-closer">&times;</div>
    </div>
    <div class="anti-modal-body">
      <p>As a kid who frequently moved, I browsed the web in four or five different computer rooms throughout my early childhood. One of them was in a trailer. There were rows and rows of PCs and those blue textured plastic chairs. The 'Computer Science' teacher taped 8.5 x 11” printouts of canned SPAM all over the walls.</p>
      <p>I remember getting lost in this 16-bit game called Chips Challenge in the mid 90s. It came with the early Microsoft game packs, like Minesweeper. You'd use the arrow keys to navigate Chip throughout this grid-based world of patterned ice, fire, water, and dirt. I played it on the unused family computer that was set up in our unfinished basement. Somehow we got this computer for free and it was pretty old, even for ‘97. The new Gateway 2000 was upstairs and set up like a shrine on a huge clunky office desk.</p>
      <p>I sometimes preferred the neglected basement computer for the privacy and access to Chips Challenge. I vividly associate my time playing this game with the feel of cold concrete on my feet and musty basement smells. Sometimes after finishing a level I'd run upstairs to warm up and use the internet computer.</p>
      <p>Visual memories of digital realms are easier for me to remember with detail. I think it has to do with a certain level of isolation that's tied to exploring the web. Even though the internet connects the world, the interaction between yourself and the computer is pretty independent. It's just you and the pixels.</p>
      <p>Typically I can only reconstruct a partial representation of ‘real places'. I'm sure that half of those reconstructions are imagined. There's too much information to process and remember accurately. Plus, many digital memories can still be found on the internet.</p>
    </div>
  </div>
</template>