<template name="displayHult">
  <div class="display display-hult">
    <div class="slide-show-before">
      <img id="1"  class="slide trigger" src="/media/hult/display/before/1.JPG"  />
      <img id="2"  class="slide trigger" src="/media/hult/display/before/2.JPG"  />
      <img id="3"  class="slide trigger" src="/media/hult/display/before/3.JPG"  />
      <img id="4"  class="slide trigger" src="/media/hult/display/before/4.JPG"  />
      <img id="5"  class="slide trigger" src="/media/hult/display/before/5.JPG"  />
      <img id="6"  class="slide trigger" src="/media/hult/display/before/6.JPG"  />
      <img id="7"  class="slide trigger" src="/media/hult/display/before/7.JPG"  />
      <img id="8"  class="slide trigger" src="/media/hult/display/before/8.JPG"  />
      <img id="9"  class="slide trigger" src="/media/hult/display/before/9.JPG"  />
      <img id="10" class="slide trigger" src="/media/hult/display/before/10.JPG" />
      <img id="11" class="slide trigger" src="/media/hult/display/before/11.JPG" />
      <img id="12" class="slide trigger" src="/media/hult/display/before/12.JPG" />
      <img id="13" class="slide trigger" src="/media/hult/display/before/13.JPG" />
      <img id="14" class="slide trigger" src="/media/hult/display/before/14.JPG" />
      <img id="15" class="slide trigger" src="/media/hult/display/before/15.JPG" />
      <img id="16" class="slide trigger" src="/media/hult/display/before/16.JPG" />
      <img id="17" class="slide trigger" src="/media/hult/display/before/17.JPG" />
      <img id="18" class="slide trigger" src="/media/hult/display/before/18.JPG" />
      <img id="19" class="slide trigger" src="/media/hult/display/before/19.JPG" />
      <img id="20" class="slide trigger" src="/media/hult/display/before/20.JPG" />
      <img id="21" class="slide trigger" src="/media/hult/display/before/21.JPG" />
      <img id="22" class="slide trigger" src="/media/hult/display/before/22.JPG" />
      <img id="23" class="slide trigger" src="/media/hult/display/before/23.JPG" />
      <img id="24" class="slide trigger" src="/media/hult/display/before/24.JPG" />
      <img id="25" class="slide trigger" src="/media/hult/display/before/25.JPG" />
      <img id="26" class="slide trigger" src="/media/hult/display/before/26.JPG" />
      <img id="27" class="slide trigger" src="/media/hult/display/before/27.JPG" />
      <img id="28" class="slide trigger" src="/media/hult/display/before/28.JPG" />
      <img id="29" class="slide trigger" src="/media/hult/display/before/29.JPG" />
      <img id="30" class="slide trigger" src="/media/hult/display/before/30.JPG" />
      <img id="31" class="slide trigger" src="/media/hult/display/before/31.JPG" />
      <img id="32" class="slide trigger" src="/media/hult/display/before/32.JPG" />
      <img id="33" class="slide trigger" src="/media/hult/display/before/33.JPG" />
      <img id="34" class="slide trigger" src="/media/hult/display/before/34.JPG" />
      <img id="35" class="slide trigger" src="/media/hult/display/before/35.JPG" />
      <img id="36" class="slide trigger" src="/media/hult/display/before/36.JPG" />
      <img id="37" class="slide trigger" src="/media/hult/display/before/37.JPG" />
      <img id="38" class="slide trigger" src="/media/hult/display/before/38.JPG" />
      <img id="39" class="slide trigger" src="/media/hult/display/before/39.JPG" />
      <img id="40" class="slide trigger" src="/media/hult/display/before/40.JPG" />
      <img id="41" class="slide trigger" src="/media/hult/display/before/41.JPG" />
      <img id="42" class="slide trigger" src="/media/hult/display/before/42.JPG" />
      <img id="43" class="slide trigger" src="/media/hult/display/before/43.JPG" />
      <img id="44" class="slide trigger" src="/media/hult/display/before/44.JPG" />
      <img id="45" class="slide trigger" src="/media/hult/display/before/45.JPG" />
    </div>
    <div class="slide-show-after hidden">
      <img id="1"  class="slide trigger" src="/media/hult/display/after/1.JPG"  />
      <img id="2"  class="slide trigger" src="/media/hult/display/after/2.JPG"  />
      <img id="3"  class="slide trigger" src="/media/hult/display/after/3.JPG"  />
      <img id="4"  class="slide trigger" src="/media/hult/display/after/4.JPG"  />
      <img id="5"  class="slide trigger" src="/media/hult/display/after/5.JPG"  />
      <img id="6"  class="slide trigger" src="/media/hult/display/after/6.JPG"  />
      <img id="7"  class="slide trigger" src="/media/hult/display/after/7.JPG"  />
      <img id="8"  class="slide trigger" src="/media/hult/display/after/8.JPG"  />
      <img id="9"  class="slide trigger" src="/media/hult/display/after/9.JPG"  />
      <img id="10" class="slide trigger" src="/media/hult/display/after/10.JPG" />
      <img id="11" class="slide trigger" src="/media/hult/display/after/11.JPG" />
      <img id="12" class="slide trigger" src="/media/hult/display/after/12.JPG" />
      <img id="13" class="slide trigger" src="/media/hult/display/after/13.JPG" />
      <img id="14" class="slide trigger" src="/media/hult/display/after/14.JPG" />
      <img id="15" class="slide trigger" src="/media/hult/display/after/15.JPG" />
      <img id="16" class="slide trigger" src="/media/hult/display/after/16.JPG" />
      <img id="17" class="slide trigger" src="/media/hult/display/after/17.JPG" />
      <img id="18" class="slide trigger" src="/media/hult/display/after/18.JPG" />
      <img id="19" class="slide trigger" src="/media/hult/display/after/19.JPG" />
      <img id="20" class="slide trigger" src="/media/hult/display/after/20.JPG" />
      <img id="21" class="slide trigger" src="/media/hult/display/after/21.JPG" />
      <img id="22" class="slide trigger" src="/media/hult/display/after/22.JPG" />
      <img id="23" class="slide trigger" src="/media/hult/display/after/23.JPG" />
      <img id="24" class="slide trigger" src="/media/hult/display/after/24.JPG" />
      <img id="25" class="slide trigger" src="/media/hult/display/after/25.JPG" />
      <img id="26" class="slide trigger" src="/media/hult/display/after/26.JPG" />
      <img id="27" class="slide trigger" src="/media/hult/display/after/27.JPG" />
      <img id="28" class="slide trigger" src="/media/hult/display/after/28.JPG" />
      <img id="29" class="slide trigger" src="/media/hult/display/after/29.JPG" />
      <img id="30" class="slide trigger" src="/media/hult/display/after/30.JPG" />
      <img id="31" class="slide trigger" src="/media/hult/display/after/31.JPG" />
      <img id="32" class="slide trigger" src="/media/hult/display/after/32.JPG" />
      <img id="33" class="slide trigger" src="/media/hult/display/after/33.JPG" />
      <img id="34" class="slide trigger" src="/media/hult/display/after/34.JPG" />
      <img id="35" class="slide trigger" src="/media/hult/display/after/35.JPG" />
      <img id="36" class="slide trigger" src="/media/hult/display/after/36.JPG" />
      <img id="37" class="slide trigger" src="/media/hult/display/after/37.JPG" />
      <img id="38" class="slide trigger" src="/media/hult/display/after/38.JPG" />
      <img id="39" class="slide trigger" src="/media/hult/display/after/39.JPG" />
      <img id="40" class="slide trigger" src="/media/hult/display/after/40.JPG" />
      <img id="41" class="slide trigger" src="/media/hult/display/after/41.JPG" />
      <img id="42" class="slide trigger" src="/media/hult/display/after/42.JPG" />
      <img id="43" class="slide trigger" src="/media/hult/display/after/43.JPG" />
      <img id="44" class="slide trigger" src="/media/hult/display/after/44.JPG" />
      <img id="45" class="slide trigger" src="/media/hult/display/after/45.JPG" />
    </div>

    <div class="hidden">{{actionPerformed}}</div>
  </div>
</template>