<template name="interfaceHult">
  <div class="interface interface-hult">
    {{#HammerTouchArea gestureMap=templateGestures}}
      <div class="slide-show">
        <img id="1" class="slide trigger"  src="/media/hult/interface/before/1.JPG"  />
        <img id="2" class="slide trigger"  src="/media/hult/interface/before/2.JPG"  />
        <img id="3" class="slide trigger"  src="/media/hult/interface/before/3.JPG"  />
        <img id="4" class="slide trigger"  src="/media/hult/interface/before/4.JPG"  />
        <img id="5" class="slide trigger"  src="/media/hult/interface/before/5.JPG"  />
        <img id="6" class="slide trigger"  src="/media/hult/interface/before/6.JPG"  />
        <img id="7" class="slide trigger"  src="/media/hult/interface/before/7.JPG"  />
        <img id="8" class="slide trigger"  src="/media/hult/interface/before/8.JPG"  />
        <img id="9" class="slide trigger"  src="/media/hult/interface/before/9.JPG"  />
        <img id="10" class="slide trigger" src="/media/hult/interface/before/10.JPG" />
        <img id="11" class="slide trigger" src="/media/hult/interface/before/11.JPG" />
        <img id="12" class="slide trigger" src="/media/hult/interface/before/12.JPG" />
        <img id="13" class="slide trigger" src="/media/hult/interface/before/13.JPG" />
        <img id="14" class="slide trigger" src="/media/hult/interface/before/14.JPG" />
        <img id="15" class="slide trigger" src="/media/hult/interface/before/15.JPG" />
        <img id="16" class="slide trigger" src="/media/hult/interface/before/16.JPG" />
        <img id="17" class="slide trigger" src="/media/hult/interface/before/17.JPG" />
        <img id="18" class="slide trigger" src="/media/hult/interface/before/18.JPG" />
        <img id="19" class="slide trigger" src="/media/hult/interface/before/19.JPG" />
        <img id="20" class="slide trigger" src="/media/hult/interface/before/20.JPG" />
        <img id="21" class="slide trigger" src="/media/hult/interface/before/21.JPG" />
        <img id="22" class="slide trigger" src="/media/hult/interface/before/22.JPG" />
        <img id="23" class="slide trigger" src="/media/hult/interface/before/23.JPG" />
        <img id="24" class="slide trigger" src="/media/hult/interface/before/24.JPG" />
        <img id="25" class="slide trigger" src="/media/hult/interface/before/25.JPG" />
        <img id="26" class="slide trigger" src="/media/hult/interface/before/26.JPG" />
        <img id="27" class="slide trigger" src="/media/hult/interface/before/27.JPG" />
        <img id="28" class="slide trigger" src="/media/hult/interface/before/28.JPG" />
        <img id="29" class="slide trigger" src="/media/hult/interface/before/29.JPG" />
        <img id="30" class="slide trigger" src="/media/hult/interface/before/30.JPG" />
        <img id="31" class="slide trigger" src="/media/hult/interface/before/31.JPG" />
        <img id="32" class="slide trigger" src="/media/hult/interface/before/32.JPG" />
        <img id="33" class="slide trigger" src="/media/hult/interface/before/33.JPG" />
        <img id="34" class="slide trigger" src="/media/hult/interface/before/34.JPG" />
        <img id="35" class="slide trigger" src="/media/hult/interface/before/35.JPG" />
        <img id="36" class="slide trigger" src="/media/hult/interface/before/36.JPG" />
        <img id="37" class="slide trigger" src="/media/hult/interface/before/37.JPG" />
        <img id="38" class="slide trigger" src="/media/hult/interface/before/38.JPG" />
        <img id="39" class="slide trigger" src="/media/hult/interface/before/39.JPG" />
        <img id="40" class="slide trigger" src="/media/hult/interface/before/40.JPG" />
        <img id="41" class="slide trigger" src="/media/hult/interface/before/41.JPG" />
        <img id="42" class="slide trigger" src="/media/hult/interface/before/42.JPG" />
        <img id="43" class="slide trigger" src="/media/hult/interface/before/43.JPG" />
        <img id="44" class="slide trigger" src="/media/hult/interface/before/44.JPG" />
        <img id="45" class="slide trigger" src="/media/hult/interface/before/45.JPG" />
      </div>
    {{/HammerTouchArea}}
  </div>
</template>

