<template name="interfaceHult">
  <div class="interface interface-hult">
    {{#HammerTouchArea gestureMap=templateGestures}}
      <img class="trigger" src="/media/hult/interface/before/1.JPG"  />
      <img class="trigger" src="/media/hult/interface/before/2.JPG"  />
      <img class="trigger" src="/media/hult/interface/before/3.JPG"  />
      <img class="trigger" src="/media/hult/interface/before/4.JPG"  />
      <img class="trigger" src="/media/hult/interface/before/5.JPG"  />
      <img class="trigger" src="/media/hult/interface/before/6.JPG"  />
      <img class="trigger" src="/media/hult/interface/before/7.JPG"  />
      <img class="trigger" src="/media/hult/interface/before/8.JPG"  />
      <img class="trigger" src="/media/hult/interface/before/9.JPG"  />
      <img class="trigger" src="/media/hult/interface/before/10.JPG" />
      <img class="trigger" src="/media/hult/interface/before/11.JPG" />
      <img class="trigger" src="/media/hult/interface/before/12.JPG" />
      <img class="trigger" src="/media/hult/interface/before/13.JPG" />
      <img class="trigger" src="/media/hult/interface/before/14.JPG" />
      <img class="trigger" src="/media/hult/interface/before/15.JPG" />
      <img class="trigger" src="/media/hult/interface/before/16.JPG" />
      <img class="trigger" src="/media/hult/interface/before/17.JPG" />
      <img class="trigger" src="/media/hult/interface/before/18.JPG" />
      <img class="trigger" src="/media/hult/interface/before/19.JPG" />
      <img class="trigger" src="/media/hult/interface/before/21.JPG" />
      <img class="trigger" src="/media/hult/interface/before/22.JPG" />
      <img class="trigger" src="/media/hult/interface/before/23.JPG" />
      <img class="trigger" src="/media/hult/interface/before/24.JPG" />
      <img class="trigger" src="/media/hult/interface/before/25.JPG" />
      <img class="trigger" src="/media/hult/interface/before/26.JPG" />
      <img class="trigger" src="/media/hult/interface/before/27.JPG" />
      <img class="trigger" src="/media/hult/interface/before/28.JPG" />
      <img class="trigger" src="/media/hult/interface/before/29.JPG" />
      <img class="trigger" src="/media/hult/interface/before/30.JPG" />
      <img class="trigger" src="/media/hult/interface/before/31.JPG" />
      <img class="trigger" src="/media/hult/interface/before/32.JPG" />
      <img class="trigger" src="/media/hult/interface/before/33.JPG" />
      <img class="trigger" src="/media/hult/interface/before/34.JPG" />
      <img class="trigger" src="/media/hult/interface/before/35.JPG" />
      <img class="trigger" src="/media/hult/interface/before/36.JPG" />
      <img class="trigger" src="/media/hult/interface/before/37.JPG" />
      <img class="trigger" src="/media/hult/interface/before/38.JPG" />
      <img class="trigger" src="/media/hult/interface/before/39.JPG" />
      <img class="trigger" src="/media/hult/interface/before/40.JPG" />
      <img class="trigger" src="/media/hult/interface/before/41.JPG" />
      <img class="trigger" src="/media/hult/interface/before/42.JPG" />
      <img class="trigger" src="/media/hult/interface/before/43.JPG" />
      <img class="trigger" src="/media/hult/interface/before/44.JPG" />
      <img class="trigger" src="/media/hult/interface/before/45.JPG" />
      <a class="info-modal-open" href="#">T</a>
      <a class="menu-group-open" href="/group-4"><svg xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF" height="50" viewBox="0 0 24 24" width="50">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
      </svg></a>
    {{/HammerTouchArea}}
  </div>
</template>