<template name="modal-hult">
  <div class="anti-modal-box">
    <div class="anti-modal-header">
      <div class="anti-modal-title">Rob Hult</div>
      <div class="anti-modal-closer">&times;</div>
    </div>
    <div class="anti-modal-body">
      <p>Brooklyn can seem like a small town; you become intimately familiar with the cityscape and, eventually, many of your neighbors. But the rate of change in NYC is impossible to ignore: everything is in constant flux. I read that because of these two aspects of life in the city, New Yorkers tend to be steeped in nostalgia: identifying with the city as they experience it, but also wistfully aware of their memories of the New York they lived in that is now gone. I'll admit I feel this way, too, about Williamsburg — when thinking back to the neighborhood it was when I moved there fifteen years ago. Walking around and taking pictures in this rapidly changing landscape over the years has been a precursor to thinking about photography, memory, and augmented reality. How does it pertain to the impulse to make altered images: imposing your own experience as a way to grab onto a visual landscape that shifts around like sand before your eyes.</p>
      <p>My Instagram feed has, in many ways, become about engaging with this blurring of lines for me. I have a "phonoshop" app that I use, that allows me to quickly mix actual experience with gestures of personal memory through photography. I can overlay whatever I'm thinking about that day with what I'm observing in my experience of space — kind of a psychogeography for iPhone. The real life moments get mixed with photos conjured from either my own archive or pulled from Google image search (anything from pop culture to the news to art shows I went to see), making a new image that is then activated by posting it onto Instagram.</p>
    </div>
  </div>
</template>