<template name="modal-salazar">
  <div class="anti-modal-box">
    <div class="anti-modal-header">
      <div class="anti-modal-title">Gabriela Salazar</div>
      <div class="anti-modal-closer">&times;</div>
    </div>
    <div class="anti-modal-body">
      <p>My parents are architects; they bought and renovated an apartment in 1982. I lived there until I went to college, and a few years since. Last year, after 32 years, they moved.</p>
      <p>I know it down to its cracks. The apartment had a foyer, a living room, a dining room, two bedrooms, one bathroom, a kitchen with a pocket door with glass panes and a hidden pull. There was a baseboard along the walls that my sister and I used as a highline. In the bigger bedroom was another door to the hallway. No doorknob on the inside, just a squarish hole where the knob would be (this was illegal, but had been done, perhaps, for aesthetic reasons — a good excuse, it was agreed) and seemed to be painted shut. Separating the living room from the kitchen was an unattached long wall. In its center was a rectangular window with a ledge to sit on, climb through, play in, or look through.</p>
      <p>I do wonder what I lose without access to that apartment. Do I need the spatial/tactile index—a static connection that stands in for, and can be reliably returned to—to function, to place itself, myself? I wonder: "memory palace."</p>
      <p>Many of my digital memories aren’t attached to physical sensations or sites beyond the inspecific "computer." As if the screen makes a site for my body within it, superseding (negating?) my real body’s need (or ability) to take notes on location or situation—to know and remember itself in the memory. These memories float in their own space, the "desktop" era of my ongoing life; a portable context reliant on other, hermetic, cues, for placement.</p>
    </div>
  </div>
</template>