<template name="displayKnogl">
  <div class="display display-knogl">
    <video id="knogl-video-display" class="video-js vjs-default-skin" autoplay loop preload="auto" width="1024" height="528">
      <source src="/media/knogl/display/sun-parallelograms-2B.mp4" type='video/mp4' />
    </video>
    <video id="knogl-video-display-overlay" class="video-js vjs-default-skin opacity-zero" autoplay loop preload="auto" width="1024" height="528">
      <source src="/media/knogl/display/sun-parallelograms-2.mp4" type='video/mp4' />
    </video>
    <div class="hidden">{{actionPerformed}}</div>
  </div>
</template>