<template name="modal-knogl">
  <div class="anti-modal-box">
    <div class="anti-modal-header">
      <div class="anti-modal-title">Alfons Knogl</div>
      <div class="anti-modal-closer">&times;</div>
    </div>
    <div class="anti-modal-body">
      <p>The first <em>place</em> I remember having a strong impact on me was when I was 18 years old. I was in a plane, over the Atlantic Ocean, on my first long distance flight – from Europe to South America. I don't think it was the experience of being in a small isolated vessel at such a great height that I remember. It was more the “place” passing beneath me while I watched the sun rise into a deep black sky, and a dark ocean endless miles away from any kind of civilization. Or it was the fascination of these two parallel but entirely different places: the inside of the plane, nearly empty except for old Spanish or Latin American men smoking cigars and drinking whiskey while a horror movie played loudly on the common TV, and this unbelievable sunrise outside of the window — both being one place for this one moment.</p>
      <p>In the beginning, the internet was interesting to me because of how it divided up the material, physical world from the code in the background. When internet 2.0 came around, the popular method of presenting commercial objects isolated in front of a white background was exciting to me. Endless scrolling pages with similar objects, like sneakers or clothes, became something like a conceptual publication or an archive of present objects without any other long-term purpose.</p>
    </div>
  </div>
</template>