<template name="displayHesse">
  <div class="display display-hesse">
    <img class="background" src="/media/hesse/interface/studio.jpg"/>
     <video id="hesse-video-display-1" class="video-js vjs-default-skin trigger hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/hesse/display/sequenz-01-1.mp4" type='video/mp4' />
    </video>
    <video id="hesse-video-display-2" class="video-js vjs-default-skin trigger hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/hesse/display/sequenz-01-3.mp4" type='video/mp4' />
    </video>
    <video id="hesse-video-display-3" class="video-js vjs-default-skin trigger hidden" autoplay loop preload="auto" width="700" height="526">
      <source src="/media/hesse/display/sequenz-mittwoch.mp4" type='video/mp4' />
    </video>
    <div class="hidden">{{actionPerformed}}</div>
  </div>
</template>